{% extends 'basic.html' %} {% block title %}{{title}}{% endblock title %} 
{% block main %}
<div class="container card p-2 col-md-3">
  <h2 class="text-center">Change Password</h2>
  <hr>

  {% for message in messages %}

  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show"
    role="alert"
  >
    <strong>{{ message }}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}

  <form action="/auth/change_password/{{token}}/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        id="username"
        value="{{user_detail}}" disabled>
    </div>
    <div class="mb-3">
      <label for="new_password" class="form-label">New Password</label>
      <input
        type="password"
        name="new_password"
        class="form-control"
        id="new_password"
      >
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <input
          type="password"
          name="confirm_password"
          class="form-control"
          id="confirm_password"
        >
      </div><br>
      <button type="submit" class="btn btn-primary">Change Password</button>
    <!-- <button type="submit" class="btn btn-primary"></button> -->
  </form>
</div>
{% endblock main %}
