{% extends 'basic.html' %} {% block title %}{{title}}{% endblock title %} 
{% block main %}
<div class="container card p-2 col-md-6">
  <h2 class="text-center">Login</h2>
  <hr>

  {% for message in messages %}

  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show"
    role="alert"
  >
    <strong>{{ message }}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}

  <form action="/auth/login/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
      >
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
      >
    </div>

    <span class="mb-3">Already a User? <a href="/auth/signup">Sign Up</a></span> | 
    <a href="/auth/forgot_password/">forgot password?</a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock main %}
